:root{
    --dark: #19191B;
    --violet: #5454D4;
    --light-yellow: #FEDC5A;
    --bright-red: #F04037;
    --dark-gray: #1E1E20;
}

@font-face {
    font-family: Graphik;
    src: url('./assets/Graphik-Bold.ttf');
}

.Main{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;

    background: var(--dark);
    position: relative;
    z-index: 1;
}

h1{
    font-family: Graphik;
    font-size: 60px;
}

h3{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 21px;
    filter: brightness(70%);
}

.Intro{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;

    width: 90%;
}

.IntroText{
    width: 40%;
    position: relative;
}

.IntroText h1{
    font-size: 80px;
    margin-bottom: 5%;
}

.IntroText h1, h3, .VioletButton{
    position: relative;
    z-index: 2;
}

#gradientIntroText{
    position: absolute;
    width: 75%;
    height: 100%;
    background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
    filter: blur(400px);
    border-radius: 233.5px;
    transform: rotate(-45deg);
    right: 25%;
    z-index: 1;
    top: 0%;
}

.IntroImage{
    width: 45%;
}

#happyPerson{
    width: 80%;
    margin-bottom: 10%;
}

#vectorIntro{
    position: absolute;
    top: 13%;
    left: 46%;
    width: 8%;
}

#circlesIntro{
    position: absolute;
    top: 10%;
    right: 8%;
    width: 3%;
}

#trianglesIntro{
    position: absolute;
    bottom: 20%;
    left: 43%;
    width: 8%;
}

#plusIntro{
    position: absolute;
    bottom: 25%;
    right: 8%;
    width: 3%;
}

#gradientIntroImage{
    position: absolute;
    width: 47%;
    height: 150%;
    bottom: -45%;
    left: 64%;
    background: linear-gradient(180deg, rgba(251, 168, 28, 0.1066) 0%, rgba(224, 86, 136, 0.0615) 100%);
    filter: blur(300px);
    border-radius: 233.5px;
    transform: rotate(65.71deg);
}

.VioletButton{
    width: 45%;
    height: 58px;
    text-align: center;
    border: thin solid transparent;
    border-radius: 4px;
    background: var(--violet);
    color: white;
    margin-top: 5%;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.VioletButton img{
    margin-left: 5%;
}

.VideoPart{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.VideoText{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3%;
}

.VideoText h3{
    width: 40%;
}

.Video{
    position: relative;
}

.Video video{
    width: 100%;
}

#playButton{
    position: absolute;
    top: calc(50% - 67px);
    left: calc(50% - 67px);
}

.Services{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;

    position: relative;
}

.Services h1{
    width: 60%;
}

.ServicesDesc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 10%;
}

.ServicesDescElement{
    width: 25%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ServicesIcon, .ServicesName, .ServicesText{
    margin-bottom: 10%;
    text-align: center;
}

#trianglesServices{
    position: absolute;
    top: -5%;
    left: 5%;
    width: 8%;
}

#plusServices1{
    position: absolute;
    transform: rotate(-31.42deg);
    top: 12%;
    right: 4%;
    width: 3%;
}

#plusServices2{
    position: absolute;
    transform: rotate(25.34deg);
    bottom: -10%;
    left: 0%;
    width: 3%;
}

.Portfolio{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;

    position: relative;
}

.Portfolio h1{
    width: 100%;
    font-size: 58px;
    font-family: 'Nunito Sans', sans-serif;
}

.PortfolioDemos{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 545px;
}

#Demo1, #Demo2, #Demo3{
    padding: 2%;
    border: thin solid #1E1E20;
    border-radius: 14px;
    margin: 1%;
    max-width: 25vw;
}

#Demo1{
    align-self: flex-start;
}

#Demo2{
    align-self: center;
}

#Demo3{
    align-self: flex-end;
}

#vectorPortfolio{
    position: absolute;
    bottom: -10%;
    left: -1%;
    width: 8%;
}

#circlesPortfolio{
    position: absolute;
    top: 6%;
    right: 10%;
    width: 3%;

    transform: rotate(-27.37deg);
}

.ContactUs{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-gray);
    padding: 10%;
    padding-left: 5%;
    padding-right: 5%;

    position: relative;
}

.ContactUs h1{
    width: 60%;
}

.ContactUs .VioletButton{
    margin: 0;
    width: 15%;
}

#plusContact{
    position: absolute;
    top: 10%;
    right: 12%;
    width: 2%;
}


#circlesContact{
    position: absolute;
    bottom: 10%;
    left: 14%;
    width: 3%;
}

Slider{
    display: none;
}

@media screen and (max-width: 550px){

    /* Intro */

    .Intro{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        margin-top: 5%;
    }

    .IntroText{
        width: 100%;
    }

    .IntroText h1{
        font-size: 42px;
        margin-bottom: 10%;
    }

    .IntroText h3{
        font-size: 16px;
        margin-bottom: 10%;
    }

    .IntroImage{
        width: 100%;
        display: flex;
        justify-content: center;

        position: relative;
    }

    .VioletButton{
        height: 44px;
        font-size: 16px;
    }

    #happyPerson{
        width: 80%;
    }

    #vectorIntro{
        position: absolute;
        top: 12%;
        left: 4%;
        width: 15%;
    }
    
    #circlesIntro{
        position: absolute;
        top: 6%;
        right: 8%;
        width: 10%;
    }
    
    #trianglesIntro{
        position: absolute;
        bottom: 2%;
        left: 4%;
        width: 15%;
    }
    
    #plusIntro{
        position: absolute;
        bottom: 16%;
        right: 14%;
        width: 6%;
    }

    /* VideoPart */

    .VideoText{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .VideoText h1{
        font-size: 36px;
    }

    .VideoText h3{
        font-size: 16px;
        width: 100%;

        margin-top: 10%;
        margin-bottom: 10%;
    }

    #playButton{
        height: 25%;
        width: 25%;
        top: 37.5%;
        left: 37.5%;
    }

    /* Services */
    .Services{
        padding-top: 20%;
        padding-bottom: 10%;
    }

    .Services h1{
        font-size: 36px;
        width: 100%;
        text-align: start;
    }

    .ServicesDesc{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .ServicesDescElement{
        width: 100%;
        margin: 0;
        margin-top: 10%;
    }

    #trianglesServices{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 15%;
    }

    #plusServices1{
        position: absolute;
        transform: none;
        top: 8%;
        right: -2%;
        width: 5%;
    }
    
    #plusServices2{
        position: absolute;
        transform: none;
        bottom: 0%;
        left: 2%;
        width: 5%;
    }
}