:root{
    --dark: #19191B;
    --violet: #5454D4;
}

.Header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: fixed;
    top: 0%;
    z-index: 2;

    background: var(--dark);
}

.Header .Logo{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.Header nav{
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLink, .navLinkCurrent{
    font-size: 18px;
    filter: brightness(70%);
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

.navLinkCurrent{
    color: #5454D4;
    filter: brightness(100%);
}

.navButton{
    width: 11%;
    height: 40%;
    text-align: center;
    border: thin solid white;
    border-radius: 5px;
    background: transparent;
    color: white;

    font-family: 'Nunito Sans', sans-serif;
}

.burgerMenu{
    visibility: collapse;
}

@media screen and (max-width: 1100px) /* and (min-width: 550px) */{
    .Header nav{
        width: 50%;
    }
}

@media screen and (max-width: 550px){
    .Header nav, .navButton{
        display: none;
    }

    .Header .Logo{
        width: 30%;
        margin-left: 5%;
    }

    .Header{
        justify-content: space-between;
    }

    .burgerMenu{
        visibility: initial;
        margin-right: 5%;
        cursor: pointer;
    }

    .menu{
        position: absolute;
        width: 100%;
        height: 90%;
        top: 10%;
        background: var(--dark);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;
    }

    .navLink, .navLinkCurrent{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: thin solid white;
        width: 50%;
    }
}