.PauseButton{
    visibility: collapse;
}

#videoPlayer:hover ~ .PauseButton{
    visibility: initial;
}

.PauseButton, .PlayButton{
    cursor: pointer;
}

.PauseButton:hover{
    visibility: initial;
}

@media screen and (max-width: 550px){
    #videoPlayer:hover ~ .PauseButton{
        visibility: collapse;
    }
    
    .PauseButton:hover{
        visibility: collapse;
    }
}