:root{
    --dark: #19191B;
}

.Footer{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;

    background: var(--dark);
}

.Logo{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

nav{
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLink{
    font-size: 18px;
    filter: brightness(70%);
    font-family: 'Nunito Sans', sans-serif;
    cursor: pointer;
}

#copyright{
    font-size: 16px;
    filter: brightness(70%);
    font-family: 'Nunito Sans', sans-serif;
}